.idea/
.vscode/
*.iml
.env
venv/
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.pylintrc

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/
*.cover

test.py
dev.db
*.html
dumps/datetime_log.txt
datetime_log.txt
celerybeat-schedule
README_my.md

/data
/models
/TEMP
/media

temp_photo_*.jpg

*.log
logs/
